<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="percursoId" id="basic-addon1"><b>ID</b></span>
                </div>
                <input name="txtPercursoId" type="text" [(ngModel)]="idPercurso" class="form-control" id="inputPercursoId" aria-describedby="idHelp" placeholder="Se não introduzir um ID, será gerado um aleatório automaticamente">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="nomePercurso" id="basic-addon1"><b>Nome</b></span>
                </div>
                <input name="txtNomePercurso" type="text" [(ngModel)]="nomePercurso" class="form-control" id="inputNomePercurso" placeholder="Introduza nome do percurso">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idLinha" id="basic-addon1"><b>ID da linha</b></span>
                </div>
                <select name='selectLinha' class="form-control" id="inputIdLinha" [(ngModel)]='linhaId'>
            <option *ngFor='let linha of listaLinhas' [value]='linha.id'>{{linha.nome}}</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="orientacao" id="basic-addon1"><b>Orientação</b></span>
                </div>

                <select name="escolherOrientacao" [(ngModel)]="escolhaOrientacao" class="custom-select" id="inptuSelectOrientacao">
            <option id='ida' value="Ida">Ida</option>
            <option value="Volta">Volta</option>
            <option value="Reforço">Reforço</option>
            <option value="Vazio">Vazio</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idSegmento" id="basic-addon1"><b>Lista de segmentos</b></span>
                </div>
                <select name='selectSegmentos' class="form-control " id="inputListaSegmentos " [(ngModel)]='segmentoIDSelecionado'>
            <option *ngFor='let seg of listaAllSegmentos' [value]='seg.id'>{{seg.nomeSegmento}}</option>
        </select>
            </div>

            <div>
                <ul class="list-group ">
                    <li class="list-group-item " *ngFor="let segmentoId of listaSegmentos " id="listaSegmentos ">
                        ID do segmento: {{segmentoId}}
                    </li>
                </ul>
            </div>

            <div class="form-row ">
                <button id='addSegmentoButton' type="button " class="mt-2 btn btn-outline-dark btn-sm " (click)="addElementToArray() ">Add
            segmento</button>
                <button type="button " class="mt-2 btn2 btn-outline-dark btn-sm " (click)="deleteElementOfArray() ">Delete
            segmento</button>
            </div>

            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    <span class="input-group-text " for="idNoInicial " id="basic-addon1 "><b>ID nó inicial</b></span>
                </div>
                <select name='selectIdNoInicialPercurso' class="form-control " id="inputIdNoInicial " [(ngModel)]='noInicialId'>
                <option *ngFor='let no of listaNos' [value]='no.id'> {{no.nomeCompleto}}</option>
            </select>
            </div>

            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    <span class="input-group-text " for="idNoFinal " id="basic-addon1 "><b>ID nó final</b></span>
                </div>
                <select name='selectIdNoFinalPercurso' class="form-control " id="inputIdNoFinal " [(ngModel)]='noFinalId'>
                <option *ngFor='let no of listaNos' [value]='no.id'> {{no.nomeCompleto}}</option>
            </select>
            </div>

            <button id='submitPercurso' type="submit " (click)="submeter() " class="mt-2 btn btn-outline-dark btn-sm ">Submit</button>
        </div>
    </div>
</form>