<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="linhaId" id="basic-addon1"><b>ID da linha</b></span>
                </div>
                <select name='selectLinhaId' class="form-control" id="inputListaLinhas" aria-describedby="idHelp" [(ngModel)]='linhaIdSelecionado' (change)=mostrarPercursos()>
            <option *ngFor='let linha of listaAllLinhas' [value]='linha.id'>{{linha.nome}}</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="percursoIdaDto" id="basic-addon1"><b>ID do percurso de ida</b></span>
                </div>
                <select name='selectPercursoIdIda' class="form-control" id="inputListaPercursos" aria-describedby="idHelp" [(ngModel)]='percursoIdaId'>
            <option *ngFor='let percurso of listaAllPercursos' [value]='percurso.id'>{{percurso.nomePercurso}}</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="percursoVoltaDto" id="basic-addon1"><b>ID do percurso de volta</b></span>
                </div>
                <select name='selectPercursoIdVolta' class="form-control" id="inputListaPercursos" aria-describedby="idHelp" [(ngModel)]='percursoVoltaId'>
            <option *ngFor='let percurso of listaAllPercursos' [value]='percurso.id'>{{percurso.nomePercurso}}</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="numeroViagens" id="basic-addon1"><b>Número de viagens a criar</b></span>
                </div>
                <input name="txtNumeroViagens" type="text" [(ngModel)]="numeroViagens" class="form-control" id="inputNumeroViagens" placeholder="Introduza o número de viagens a criar">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="frequencia" id="basic-addon1"><b>Frequência das viagens</b></span>
                </div>
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [format]="24" [defaultTime]="'11:11'" name="timePicker" [(ngModel)]="frequencia">
                    </ngx-timepicker-field>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="horaInicio" id="basic-addon1"><b>Hora de início</b></span>
                </div>
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [format]="24" [defaultTime]="'11:11'" name="timePicker" [(ngModel)]="horaInicio">
                    </ngx-timepicker-field>
                </div>
            </div>

            <button type="submit" (click)="submeter()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>