<div class="example-container">
    <mat-card-title>
        <h1>Preencha os campos que deseja alterar:</h1>
        <h5>Pode ver os dados que estão guardados atualmente e escolher os que deseja alterar.
        </h5>
    </mat-card-title>
    <mat-form-field>
        <mat-label>{{valueNome}}</mat-label>
        <input matInput placeholder="Nome" type="text" [(ngModel)]="name" name="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{valueEmail}}</mat-label>
        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" type="text" [(ngModel)]="email" name="email">
        <mat-error *ngIf="emailFormControl.hasError('email')">
            Por favor introduza um email válido.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nova password</mat-label>
        <input matInput placeholder="Password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" type="password" [(ngModel)]="password" name="password">
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            Por favor introduza uma password com no mínimo 6 dígitos.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
            Por favor introduza uma password com no máximo 15 dígitos.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{valueDataNascimento}}</mat-label>
        <input matInput [matDatepicker]="picker1" autocomplete="off" [(ngModel)]="dataInput" name="dataInput" placeholder="mm/dd/aaaa">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 color="primary"></mat-datepicker>
    </mat-form-field>

    <button type="submit" (click)="update()" class="mt-2 btn btn-outline-dark btn-sm ">Confirmar alterações</button>
    <button type=" submit " (click)="delete() " class="mt-2 btn btn-outline-dark btn-sm " data-toggle="tooltip" data-placement="top" title="Elimina todos os dados da base de dados">Eliminar conta</button>
    <button type="submit " (click)="cancelar() " class="mt-2 btn btn-outline-dark btn-sm ">Cancelar</button>

</div>