<form>
    <!-- ID -->
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="segmentoId" id="basic-addon1"><b>ID</b></span>
                </div>
                <input name="txtIdSegmento" type="text" [(ngModel)]="idSegmento" class="form-control" id="inputSegmentoId" aria-describedby="idHelp" placeholder="Se não introduzir um ID, será gerado um aleatório automaticamente">
            </div>

            <!-- Nome -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="nomeSegmento" id="basic-addon1"><b>Nome</b></span>
                </div>
                <input name="txtNomeSegmento" type="text" [(ngModel)]="nomeSegmento" class="form-control" id="inputNomeSegmento" placeholder="Introduza nome do segmento">
            </div>

            <!-- Nó inicial -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idNoInicial" id="basic-addon1"><b>ID nó inicial</b></span>
                </div>
                <select name='selectIdNoInicial' class="form-control" id="inputIdNoInicialSegmento" [(ngModel)]='idNoInicial'>
            <option *ngFor='let no of listaNos' [value]='no.id'> {{no.nomeCompleto}}</option>
        </select>
            </div>

            <!-- Nó final -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idNoFinal" id="basic-addon1"><b>ID nó final</b></span>
                </div>
                <select name='selectNoFinal' class="form-control" id="inputIdNoFinalSegmento" [(ngModel)]='idNoFinal'>
            <option *ngFor='let no of listaNos' [value]='no.id'>{{no.nomeCompleto}}</option>
        </select>
            </div>

            <!-- Distância entre nós  -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="distanciaNos" id="basic-addon1"><b>Distância entre nós</b></span>
                </div>
                <input name="txtDistanciaNos" type="number" [(ngModel)]="distanciaNos" class="form-control" id="inputDistancia" placeholder="Introduza distância">
            </div>

            <!-- Tempo entre nós -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="tempoNos" id="basic-addon1"><b>Tempo entre nós</b></span>
                </div>
                <input name="txtTempoNos" type="number" [(ngModel)]="tempoNos" class="form-control" id="inputTempo" placeholder="Introduza tempo">
            </div>

            <!-- Botão de submit -->
            <button id='submitSegmento' type="submit" (click)="submeter()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>