<div class="jumbotron" id="section1">
    <!--Título e sub-título-->

    <div class="card bg-light mb-3" style="width: 42rem; height: 13rem;">
        <div class="card-header">Master Data Rede</div>
        <div class="card-body">
            <h4 class="text-muted"> Selecione uma das opções: </h4>
            <button type="submit" (click)='scrollTo("criacaoRede")' class="btn btn-dark btn-lg">Criação dos membros da
                rede</button>
            <button type="submit" (click)='scrollTo("listagemRede")' class="btn btn-dark btn-lg">Listagem dos membros da
                rede</button>
        </div>
    </div>

    <!-- Seletor de funcionalidade-->
    <h2 id="criacaoRede"> Criação de membros na rede </h2>
    <form>
        <select name="escolherUC" style="width: 52%;" [(ngModel)]="escolha" class="custom-select">
            <option id='postNo' (click)='scrollTo("criarNo")' value="postNo">Criar nó</option>
            <option id='postSegmento' (click)='scrollTo("criarSegmento")' value="postSegmento">Criar segmento</option>
            <option id='postPercurso' (click)='scrollTo("criarPercurso")' value="postPercurso">Criar percurso</option>
            <option id='postLinha' (click)='scrollTo("criarLinha")' value="postLinha">Criar linha</option>
            <option id='postTipoViatura' (click)='scrollTo("criarTipoViatura")' value="postTipoViatura">Criar tipo de
                viatura</option>
            <option id='postTipoTripulante' (click)='scrollTo("criarTipoTripulante")' value="postTipoTripulante">Criar
                tipo de tripulante</option>
            <option id='optionInserirGLX' (click)='scrollTo("inserirGLX")' value="postTipoTripulante">Inserir GLX
            </option>
            <option id='postUploadModel' (click)='scrollTo("uploadModel")' value="postUploadModel">Upload de um modelo
                3D</option>
        </select>
    </form>

    <div id='criarNo' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-no></app-criar-no>

    </div>

    <div id='criarSegmento' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-segmento></app-criar-segmento>

    </div>

    <div id='criarPercurso' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-percurso></app-criar-percurso>

    </div>

    <div id='criarLinha' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-linha></app-criar-linha>

    </div>

    <div id='criarTipoViatura' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-tipo-viatura></app-criar-tipo-viatura>

    </div>

    <div id='criarTipoTripulante' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-tipo-tripulante></app-criar-tipo-tripulante>
    </div>

    <div id='inserirGLX' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-inserir-glx></app-inserir-glx>
    </div>

    <div id='uploadModel' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-update-no-modelo3-d></app-update-no-modelo3-d>
        <hr style="border-top: 2px solid black;">
    </div>

    <h2 id="listagemRede"> Listagem dos membros na rede </h2>
    <form>
        <select name="escolherListagem" [(ngModel)]="escolha" class="custom-select">
            <option id='getPercursos' (click)='scrollTo("listaPercursos")' value="getPercursos">Listagem dos percursos
                de uma linha</option>
            <option id='getLinhas' (click)='scrollTo("listarLinhas")' value="getLinhas">Listagem das linhas</option>
            <option id='getNos' (click)='scrollTo("listarNos")' value="getNos">Listagem dos nós</option>
        </select>
    </form>

    <div id='listaPercursos' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-lista-percursos-linha></app-lista-percursos-linha>
        <hr style="border-top: 2px solid black;">
    </div>

    <div id="listarLinhas" class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-listar-linhas></app-listar-linhas>
        <hr style="border-top: 2px solid black;">
    </div>

    <div id="listarNos" class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-listar-nos></app-listar-nos>
        <hr style="border-top: 2px solid black;">
    </div>
</div>