<div class="card bg-light mb-3">
    <div class="card-header">Listagem da rede: percursos de uma linha</div>
    <div class="card-body">
        <h1 class="display-3">Lista de percursos de uma linha</h1>
        <h4 class="text-muted">Para mais informação, clique num percurso.</h4>
        <app-dados-percursos></app-dados-percursos>
    </div>
</div>