<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Viagem: Inserir ficheiro GLX</div>
    <div class="card-body">
        <h1 class="display-3">Inserir dados sobre a Viagem</h1>
        <h4 class="text-muted">Selecione um ficheiro.</h4>
        <form>
            <div class="row">
                <div class="col-8">
                    <div class="custom-file">
                        <input id="inputFicheiroGLX" name='glx' type="file" (change)="fileChangeEvent($event)" class="custom-file-input">
                        <label id='labelFicheiroGLX' class="custom-file-label" for="inputFicheiroGLX">Escolha um
                    ficheiro</label>
                    </div>
                </div>
            </div>
        </form>
        <button id='submitGLXButton' type="submit" (click)='submeter()' class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
    </div>
</div>