<div class="example-container">
    <mat-card-title>
        <h1>Consulta de dados pessoais</h1>
        <h5>Aqui encontra todos os dados guardados atualmente. Para a sua alteração ou remoção, selecione "Alteração dados".
        </h5>
    </mat-card-title>
    <mat-form-field>
        <mat-card>Nome: {{valueNome}}</mat-card>
    </mat-form-field>

    <mat-form-field>
        <mat-card>Email: {{valueEmail}}</mat-card>
    </mat-form-field>

    <mat-form-field>
        <mat-card>Data de nascimento: {{valueDataNascimento}}</mat-card>
    </mat-form-field>
</div>