<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="tipoViaturaId" id="basic-addon1"><b>ID</b></span>
                </div>
                <input name="txtIdTipoViatura" type="text" [(ngModel)]="idTipoViatura" class="form-control" id="inputIdTv" aria-describedby="idHelp" placeholder="Se não introduzir um ID, será gerado um aleatório automaticamente">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="codigo" id="basic-addon1"><b>Código</b></span>
                </div>
                <input name="txtCodigo" type="text" [(ngModel)]="codigo" class="form-control" id="inputCodigoTv" aria-describedby="codigoHelp" placeholder="Deve ter 20 caracteres">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="descricao" id="basic-addon1"><b>Descrição</b></span>
                </div>
                <input name="txtDescricao" type="text" [(ngModel)]="descricao" class="form-control" id="inputDescricaoTv" placeholder="Introduza descrição">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="combustivel" id="basic-addon1"><b>Combustível</b></span>
                </div>
                <select name="escolherCombustivel" [(ngModel)]="escolherCombustivel" class="custom-select" id="inputCombustivelTv">
            <option value="Gasóleo">Gasóleo</option>
            <option value="Gasolina">Gasolina</option>
            <option value="Hidrogénio">Hidrogénio</option>
            <option value="GPL">GPL</option>
            <option value="Elétrico">Elétrico</option>
        </select>
                <div class="container-fluid">
                    <div [ngSwitch]="escolherCombustivel">
                        <div *ngSwitchCase="'Gasóleo'"></div>

                        <div *ngSwitchCase="'Gasolina'">
                        </div>

                        <div *ngSwitchCase="'Hidrogénio'">
                        </div>

                        <div *ngSwitchCase="'GPL'">
                        </div>

                        <div *ngSwitchCase="'Elétrico'">
                        </div>

                        <div *ngSwitchDefault>
                        </div>

                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="autonomia" id="basic-addon1"><b>Autonomia</b></span>
                </div>
                <input name="txtAutonomia" type="number" [(ngModel)]="autonomia" class="form-control" id="inputAutonomiaTv" placeholder="Introduza autonomia">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="velocidadeMedia" id="basic-addon1"><b>Velocidade Média</b></span>
                </div>
                <input name="txtVelocidadeMedia" type="number" [(ngModel)]="velocidadeMedia" class="form-control" id="inputVelocidadeMediaTv" placeholder="Introduza velocidade média">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="custoPorQuilometro" id="basic-addon1"><b>Custo por Quilómetro</b></span>
                </div>
                <input name="txtCustoPorQuilometro" type="number" [(ngModel)]="custoPorQuilometro" class="form-control" id="inputCustoPorQuilometroTv" placeholder="Introduza custo por quilómetro">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="consumoMedio" id="basic-addon1"><b>Consumo Médio</b></span>
                </div>
                <input name="txtConsumoMedio" type="number" [(ngModel)]="consumoMedio" class="form-control" id="inputConsumoMedioTv" placeholder="Introduza consumo médio">
            </div>

            <button id="submitTVButton" type="submit" (click)="submeter()" class="btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>