<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="abvNoInicial" id="basic-addon1"><b>Abreviatura do nó inicial</b></span>
                </div>
                <input name="txtAbvNoInicial" type="text" [(ngModel)]="abvNoInicial" class="form-control" id="inputAbvNoInicialSegmento" placeholder="Introduza abreviatura do nó inicial">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="abvNoFinal" id="basic-addon1"><b>Abreviatura do nó final</b></span>
                </div>
                <input name="txtAbvNoFinal" type="text" [(ngModel)]="abvNoFinal" class="form-control" id="inputAbvNoFinalSegmento" placeholder="Introduza abreviatura do nó final">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="hora" id="basic-addon1"><b>Introduza a hora</b></span>
                </div>
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [format]="24" [defaultTime]="'11:11'" name="timePicker" [(ngModel)]="horaInicio">
                    </ngx-timepicker-field>
                </div>
            </div>

            <button type="submit" (click)="submeter()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>