<div class="card bg-light mb-3">
    <div class="card-header">Planeamento: Percurso mais rápido</div>
    <div class="card-body">
        <h1 class="display-3">Obter o percurso mais rápido entre dois nós</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-percurso-menor-tempo></app-dados-percurso-menor-tempo>
    </div>
</div>