<div class="card bg-light mb-3">
    <div class="card-header">Listagem da viagem: serviços de tripulante</div>
    <div class="card-body">
        <h1 class="display-3">Lista de serviços de tripulante</h1>
        <h4 class="text-muted">Para mais informação, clique num serviço de tripulante.</h4>
        <app-dados-servicos-tripulante></app-dados-servicos-tripulante>
    </div>
</div>