<div class="jumbotron" id="section1">
    <!--Título e sub-título-->
    <h1 id='planeamentoTitle' class="display-4">Planeamento</h1>
    <p>Selecione uma opção.</p>
    <hr>

    <!-- Seletor de funcionalidade-->
    <form>
        <select name="escolherPlaneamento" style="width: 50%;" [(ngModel)]="escolha" class="custom-select">
            <option id='selectpercursoMenorTempo' (click)='scrollTo("percursoMenorTempo")' value="selectpercursoMenorTempo">Obter percurso mais rápido entre dois nós</option>
            <option id='selecttripulantesBlocoTrabalho' (click)='scrollTo("tripulantesBlocoTrabalho")' value="selecttripulantesBlocoTrabalho">Obter tripulantes associados a blocos de trabalho</option>
            <option id="selectatribuirModeloNo" (click)='scrollTo("atribuirModeloNo")' value="selectatribuirModeloNo">Atribuir modelo 3D a um nó</option>
        </select>
    </form>

    <div id='percursoMenorTempo' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-percurso-menor-tempo></app-percurso-menor-tempo>
    </div>

    <div id='tripulantesBlocoTrabalho' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-tripulantes-blocos-trabalho></app-tripulantes-blocos-trabalho>
    </div>

    <div id='atribuirModeloNo' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-atribuir-modelo-no></app-atribuir-modelo-no>
    </div>
</div>