<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Viagem: Viagem Ad Hoc</div>
    <div class="card-body">
        <h1 class="display-3">Criar Viagem Ad Hoc</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-viagem></app-dados-viagem>
    </div>
</div>