<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Rede: Tipo de Viatura</div>
    <div class="card-body">
        <h1 class="display-3">Criar tipo de viatura</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-tipo-viatura></app-dados-tipo-viatura>
    </div>
</div>