<form>

    <div class="row">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="servicoViaturaId" id="basic-addon1"><b>ID do Serviço de
                            Viatura</b></span>
                </div>
                <select name='selectservicoViaturaId' class="form-control" id="inputListaServicosViatura" aria-describedby="idHelp" [(ngModel)]='servicoViaturaId'>
                    <option *ngFor='let sv of listaAllServicosViatura' [value]='sv.id'>{{sv.id}}</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="numerosARetirar" id="basic-addon1"><b>Números a
                            retirar</b></span>
                </div>
                <input name="txtNumerosARetirar" type="number" [(ngModel)]="numerosARetirar" class="form-control" id="inputNumerosARetirar">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="tempoRelativo" id="basic-addon1"><b>Tempo Relativo</b></span>
                </div>
                <input name="txtTempoRelativo" type="number" [(ngModel)]="tempoRelativo" class="form-control" id="inputTempoRelativo">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="dimensaoPopulacao" id="basic-addon1"><b>Dimensão da
                            população</b></span>
                </div>
                <input name="txtDimensaoPopulacao" type="number" [(ngModel)]="dimensaoPopulacao" class="form-control" id="inputDimensaoPopulacao">
            </div>
        </div>

        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="probabilidadeCruzamento" id="basic-addon1"><b>Probabilidade de
                            cruzamento</b></span>
                </div>
                <input name="txprobabilidadeMutacao" type="number" [(ngModel)]="probabilidadeMutacao" class="form-control" id="inputProbabilidadeMutacao">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="custo" id="basic-addon1"><b>Custo</b></span>
                </div>
                <input name="txtCusto" type="number" [(ngModel)]="custoC" class="form-control" id="inputCusto">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="numeroNovasGeracoes" id="basic-addon1"><b>Número de novas
                            gerações</b></span>
                </div>
                <input name="txtNumeroNovasGeracoes" type="number" [(ngModel)]="numeroNovasGeracoes" class="form-control" id="inputNumeroNovasGeracoes">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="probabilidadeCruzamento" id="basic-addon1"><b>Probabilidade de
                            cruzamento</b></span>
                </div>
                <input name="txprobabilidadeCruzamento" type="number" [(ngModel)]="probabilidadeCruzamento" class="form-control" id="inputProbabilidadeCruzamento">
            </div>
        </div>
    </div>

    <button type="submit" (click)="getListaTripulantesBlocosTrabalho()" class="mt-2 btn btn-outline-dark btn-sm">Obter
        lista de tripulantes</button>

    <div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let tripulante of listaTripulantesBlocosTrabalho">
                tripulante: {{tripulante}}
            </li>
        </ul>
    </div>
</form>