<form>
    <div class="row">
        <div class="col-8">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let no of listaNos">
                    <button type="button" class="list-group-item list-group-item-action" [value]='no.id' (click)="openDialog(no.id)">{{no.nomeCompleto}}</button>
                </li>
            </ul>
        </div>
    </div>
</form>