<h1 mat-dialog-title>Dados:</h1>
<div mat-dialog-content>
    <pre>
ID: {{noId}}
Nome completo: {{noNomeCompleto}}
Abreviatura: {{noAbreviatura}}
Ponto Rendição: {{noIsPontoRendicao}}
Estação Recolha: {{noIsEstacaoRecolha}}
Latitude: {{noLatitude}}
Longitude: {{noLongitude}}
Nome do modelo 3D: {{noNomeModelo}}</pre>
</div>