<div class="jumbotron" id="section1">
    <!--Título e sub-título-->

    <div class="card bg-light mb-3" style="width: 45rem; height: 13rem;">
        <div class="card-header">Master Data Viagem</div>
        <div class="card-body">
            <h4 class="text-muted"> Selecione uma das opções: </h4>
            <button type="submit" (click)='scrollTo("criacaoViagem")' class="btn btn-dark btn-lg">Criação dos membros da
                Viagem</button>
            <button type="submit" (click)='scrollTo("listagemViagem")' class="btn btn-dark btn-lg">Listagem dos membros
                da
                Viagem</button>
        </div>
    </div>

    <!-- Seletor de funcionalidade-->
    <h2 id="criacaoViagem"> Criação de membros na viagem </h2>
    <form>
        <select name="escolherUC" style="width: 56%;" [(ngModel)]="escolha" class="custom-select">
            <option id='postViatura' (click)='scrollTo("definirViatura")' value="postNo">Criar viatura</option>
            <option id='postTripulante' (click)='scrollTo("criarTripulante")' value="postNo">Criar Tripulante</option>
            <option id='postViagem' (click)='scrollTo("criarViagem")' value="postViagem">Criar Viagem Ad Hoc</option>
            <option id='postVariasViagens' (click)='scrollTo("criarVariasViagens")' value="postVariasViagens">Criar
                Várias Viagens</option>
            <option id='postServicoViatura' (click)='scrollTo("criarServicoViatura")' value="postServicoViatura">Criar
                Serviço de Viatura</option>
            <option id='postBlocoTrabalho' (click)='scrollTo("criarBlocoTrabalho")' value="postBlocoTrabalho">Criar
                Bloco de Trabalho</option>
            <option id='postServicoTripulante' (click)='scrollTo("criarServicoTripulante")'
                value="postServicoTripulante">Criar
                Serviço de Tripulante</option>
            <option id='inserirGlx' (click)='scrollTo("inserirGlx")' value="inserirGlx">Inserir GLX</option>
        </select>
    </form>

    <div id='definirViatura' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-definir-viatura></app-definir-viatura>
    </div>

    <div id='criarTripulante' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-tripulante></app-criar-tripulante>
    </div>

    <div id='criarViagem' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-viagem></app-criar-viagem>
    </div>

    <div id='criarVariasViagens' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-varias-viagens></app-criar-varias-viagens>
    </div>

    <div id='criarServicoViatura' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-servico-viatura></app-criar-servico-viatura>
    </div>

    <div id='criarBlocoTrabalho' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-bloco-trabalho></app-criar-bloco-trabalho>
    </div>

    <div id='criarServicoTripulante' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-criar-servico-tripulante></app-criar-servico-tripulante>
    </div>

    <div id='inserirGlx' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-inserir-glx-mdv></app-inserir-glx-mdv>
    </div>

    <h2 id="listagemViagem"> Listagem dos membros da viagem</h2>
    <form>
        <select name="escolherListagem" [(ngModel)]="escolha" class="custom-select">
            <option id='getServicosViatura' (click)='scrollTo("listaServicosViatura")' value="getServicosViatura">
                Listagem dos Serviços de Viatura</option>
            <option id='getServicosTripulante' (click)='scrollTo("listaServicosTripulante")'
                value="getServicosTripulante">
                Listagem dos Serviços de Tripulante</option>
        </select>
    </form>

    <div id='listaServicosViatura' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-listar-servicos-viatura></app-listar-servicos-viatura>
        <hr style="border-top: 2px solid black;">
    </div>

    <div id='listaServicosTripulante' class="container-fluid">
        <hr style="border-top: 2px solid black;">
        <app-listar-servicos-tripulante></app-listar-servicos-tripulante>
        <hr style="border-top: 2px solid black;">
    </div>

</div>