

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 id='mapTitle' class="display-4">Mapa</h1>
        <p class="lead">Modelo de visualização</p>
        <div name='mapa' id="mapa-mapbox" class="w-100 p-3" style="height: 500px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button id="btnMDR" type='button' (click) ="changeTo3d()" class="btn btn-dark btn-lg" role="button">Mapa 3D</button>
                    <button id="btnMDR" type='button' (click) ="changeTo2d()" class="btn btn-dark btn-lg" role="button">Mapa 2D</button>
                    <button id="btnAddLines" type='button' (click) ="buttonClickAdicionarLinhas()" class="btn btn-dark btn-lg" role="button">Adicionar linhas</button>
                    <button *ngIf="on3d" id="btnAddLines" type='button' (click) =" chanteTo1stPerson()" class="btn btn-dark btn-lg" role="button"
                    (click)="onKeypressEvent()">Navegação em primeira pessoa</button>
  
                </div>
                <div *ngIf="on3d" class="col.sm">
                    <div class="card" style="width: 12rem;" role="button">
                        <div class="card-body">
                            <h3 class="card-title"><p>Escolha uma hora</p></h3>
                            <mat-slider [(ngModel)]="horaEscolhida"  id="inputTime" min="0" max="1440" step="1" (change)="alteracaoHora()"></mat-slider>
                            <h4 class="card-subtitle mb-2 text-muted"[(ngModel)]="horaOutput" name="horaOutput" ngDefaultControl> {{horaOutput}} </h4>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>