<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="servicoTripulanteId" id="basic-addon1"><b>ID do Serviço Tripulante</b></span>
                </div>
                <input name="txtservicoTripulanteId" type="text" [(ngModel)]="servicoTripulanteId" class="form-control" id="inputservicoTripulanteId" aria-describedby="idHelp" placeholder="Introduza um ID">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="servicoViaturaId" id="basic-addon1"><b>ID do Serviço de Viatura</b></span>
                </div>
                <select name='selectservicoViaturaId' class="form-control" id="inputListaServicosViatura" aria-describedby="idHelp" (change)='changeServico()' [(ngModel)]='servicoViaturaId'>
            <option *ngFor='let sv of listaAllServicosViatura' [value]='sv.id'>{{sv.id}}</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idBlocoTrabalho" id="basic-addon1"><b>Blocos de trabalho</b></span>
                </div>
                <select name='selectidBlocoTrabalho' class="form-control" id="inidBlocoTrabalho" [(ngModel)]='idBlocoTrabalho'>
            <option *ngFor='let bt of listaAllBlocosTrabalho' [value]='bt.id'> {{bt.id}}</option>
        </select>
            </div>

            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let bt of listaBlocosTrabalho">
                        ID bloco trabalho: {{idBlocoTrabalho}}
                    </li>
                </ul>
            </div>

            <div class="form-row">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="addElementToArray()">Add Bloco Trabalho</button>
                <button type="button" class="btn2 btn-outline-dark btn-sm" (click)="deleteElementOfArray()">Delete
            Bloco Trabalho</button>
            </div>

            <button type="submit" (click)="submeter()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>