<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Rede: Percurso</div>
    <div class="card-body">
        <h1 class="display-3">Criar percurso</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-percurso></app-dados-percurso>.
    </div>
</div>