<div class="wrapper">
    <div class="wrapper-div">
        <div class="tap-header">
            <h2 routerLink='/user/login' routerLinkActive='active'>Login</h2>
            <h2 routerLink='/user/registo' routerLinkActive='active'>Registo</h2>
            <h2 routerLink='/user/listarDados' routerLinkActive='active'>Consulta dados</h2>
            <h2 routerLink='/user/alteracaoDados' routerLinkActive='active'>Alteração de dados</h2>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>