<h1 mat-dialog-title>Dados:</h1>
<div mat-dialog-content>
    <pre>
ID: {{linhaId}}
Código: {{linhaCodigo}}
Nome: {{linhaNome}}
Cor: {{linhaCor}}
Nó Inicial: {{linhaNoInicial}}
Nó Final: {{linhaNoFinal}}
Viaturas Permitidas: {{linhaViaturasPermitidas}}
Viaturas Proibidas: {{linhaViaturasProibidas}}
Tripulantes Permitidos: {{linhaTripulantesPermitidos}}
Tripulantes Proibidos: {{linhaTripulantesProibidos}}
</pre>
</div>