<form>
    <div class="row">
        <div class="col-8">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let linha of linhasDTO">
                    <button type="button" class="list-group-item list-group-item-action" [value]='linha.id' (click)="openDialog(linha.id)">{{linha.nome}}</button>
                </li>
            </ul>
        </div>
    </div>
</form>