<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="NMecanograficoTripulante" id="basic-addon1"><b>Número
                            Mecanográfico</b></span>
                </div>
                <input name="txtNMecanograficoTripulante" type="text" [(ngModel)]="NMecanograficoTripulante"
                    class="form-control" id="inputNMecanograficoTripulante"
                    placeholder="Introduza número mecanográfico">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="nomeTripulante" id="basic-addon1"><b>Nome</b></span>
                </div>
                <input name="txtNomeTripulante" type="text" [(ngModel)]="nomeTripulante" class="form-control"
                    id="inputNomeTripulante" placeholder="Introduza nome">
            </div>

            <div class="input-group mb-3">
                <div>
                    <mat-form-field>
                        <mat-label>Data de nascimento</mat-label>
                        <input matInput [matDatepicker]="picker0" autocomplete="off"
                            [(ngModel)]="dataNascimentoTripulante" name="dataNascimentoInput" placeholder="dd/mm/aaaa">
                        <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                        <mat-datepicker #picker0 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="NCCidadaoTripulante" id="basic-addon1"><b>Número de cartão de
                            cidadão</b></span>
                </div>
                <input name="txtNCCidadaoTripulante" type="text" [(ngModel)]="NCCidadaoTripulante" class="form-control"
                    id="inputNCCidadaoTripulante" placeholder="Introduza número de cartão de cidadão">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="NCConducaoTripulante" id="basic-addon1"><b>Número de carta de
                            condução</b></span>
                </div>
                <input name="txtNCConducaoTripulante" type="text" [(ngModel)]="NCConducaoTripulante"
                    class="form-control" id="inputNCConducaoTripulante"
                    placeholder="Introduza número de carta de condução">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="NIFTripulante" id="basic-addon1"><b>NIF</b></span>
                </div>
                <input name="txtNIFTripulante" type="text" [(ngModel)]="NIFTripulante" class="form-control"
                    id="inputNIFTripulante" placeholder="Introduza um NIF">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="tipoTripulante" id="basic-addon1"><b>Tipo de
                            tripulant</b>e</span>
                </div>
                <select name='selectTipoTripulante' class="form-control" id="inputIdTipoTripulante"
                    [(ngModel)]='tipoTripulante'>
                    <option *ngFor='let tipoTripulante of listaTipoTripulante' [value]='tipoTripulante.id'>
                        {{tipoTripulante.codigo}}</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div>
                    <mat-form-field>
                        <mat-label>Entrada na empresa</mat-label>
                        <input matInput [matDatepicker]="picker1" autocomplete="off"
                            [(ngModel)]="dataEntradaEmpresaTripulante" name="dataEntradaInput" placeholder="dd/mm/aaaa">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="input-group mb-3">
                <div>
                    <mat-form-field>
                        <mat-label>Saída da empresa</mat-label>
                        <input matInput [matDatepicker]="picker2" autocomplete="off"
                            [(ngModel)]="dataSaidaEmpresaTripulante" name="dataSaidaInput" placeholder="dd/mm/aaaa">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="input-group mb-3">
                <div>
                    <mat-form-field>
                        <mat-label>Licença de condução</mat-label>
                        <input matInput [matDatepicker]="picker3" autocomplete="off "
                            [(ngModel)]="dataLicencaConducaoTripulante " name="dataLicencaInput "
                            placeholder="dd/mm/aaaa ">
                        <mat-datepicker-toggle matSuffix [for]="picker3 "></mat-datepicker-toggle>
                        <mat-datepicker #picker3 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <form class="was-validated">
                <div class="form-row">
                    <div class="custom-control custom-checkbox mb-3">
                        <input name="checkBoxRGPD" type="checkbox" [(ngModel)]="checkBoxRGPD"
                            class="custom-control-input" id="checkBoxRGPD" required>
                        <label class="custom-control-label" for="checkBoxRGPD">Eu, como administrador, garanto que o
                            tripulante a ser registado deu o seu consentimento inequívoco e explícito para o tratamento
                            dos dados introduzidos. Clique abaixo para mais informação.</label>
                        <div class="invalid-feedback">Obrigatório.</div>
                    </div>
                </div>
            </form>

            <button type="button" class="btn btn-info btn-sm" (click)="openDialog()">Informação legal sobre os dados
                pessoais</button>

            <button type="submit " (click)="submeter() " class="mt-2 btn btn-outline-dark btn-sm ">Submit</button>
        </div>
    </div>
</form>