<h2 mat-dialog-title>Informação legal sobre os dados pessoais</h2>
<div mat-dialog-content class="mat-typography">
    <h3>Estes dados servem apenas como meio de identificação do tripulante e destinam-se exclusivamente ao domínio dos serviços da plataforma. Em mais detalhe:</h3>
    <h4>Número mecanográfico</h4>
    <p>O número mecanográfico serve para identificação do tripulante no contexto da empresa, pois é um dado que o distingue dos outros tripulantes registados.</p>
    <h4>Nome</h4>
    <p>O nome é apenas um dado informativo para identificar o tripulante. </p>
    <h4>Data de nascimento</h4>
    <p>A data de nascimento é importante para que consigamos validar a idade do cliente final. Em Portugal, está definido 18 anos como idade mínima para obter a carta de condução e de 16 anos para ser admissível para prestar trabalho.</p>
    <h4>Datas de licença de condução e entrada/saída da empresa</h4>
    <p>A Data de licença de condução refere-se à data em que o tripulante obteve a carta de condução.</p>
    <p>A Data de entrada e saída da empresa referem-se, respetivamente, às datas em que o tripulante vai ser inscrito e à data que deixou a AIT.</p>
    <h4>Número de cartão de cidadão/carta de condução/NIF</h4>
    <p>Estes dados servem para a identifcação do tripulante.</p>
    <h4>Tipo de tripulante</h4>
    <p>Associação do tripulante à suas funções e caraterísticas profissionais.</p>
    <h4>Prazo de conservação</h4>
    <p>De acordo com o Regulamento Geral sobre a Proteção de Dados, existem requisitos legais acerca do prazo de conservação dos dados, os quais obrigam a sua conservação durante o mínimo tempo possível, exceto algumas ocasiões devidamente regulamentadas.</p>
    <h4>Responsável pelo tratamento dos dados</h4>
    <p>O responsável pelo tratamento dos dados é a empresa Autoridade Intermunicipal de Transportes (AIT).</p>
</div>