<form>
    <div class="row">
        <div class="col-8">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let st of listaServicosTripulante">
                    <button type="button" class="list-group-item list-group-item-action" [value]='st.id' (click)="openDialog(st.id)">{{st.id}}</button>
                </li>
            </ul>
        </div>
    </div>
</form>