<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Viagem: Serviço de Tripulante</div>
    <div class="card-body">
        <h1 class="display-3">Criar Serviço de Tripulante</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-servico-tripulante></app-dados-servico-tripulante>
    </div>
</div>