<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Viagem: Tripulante</div>
    <div class="card-body">
        <h1 class="display-3">Criar Tripulante</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-tripulante></app-dados-tripulante>
    </div>
</div>