<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="vinViatura" id="basic-addon1"><b>Número de verificação da viatura</b></span>
                </div>
                <input name="txtVinViatura" type="text" [(ngModel)]="vinViatura" class="form-control" id="inputVinViatura" placeholder="Introduza número de verificação">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="matriculaViatura" id="basic-addon1"><b>Matrícula</b></span>
                </div>
                <input name="txtMatriculaViatura" type="text" [(ngModel)]="matriculaViatura" class="form-control" id="inputMatriculaViatura" aria-describedby="idHelp" placeholder="Insira a matrícula usando o hífen comum (-) entre os dígitos">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="tipoViatura" id="basic-addon1"><b>Tipo de viatura</b></span>
                </div>
                <select name='selectTipoViatura' class="form-control" id="inputIdTipoViatura" [(ngModel)]='tipoViaturaId'>
            <option *ngFor='let tipoViatura of listaTipoViaturas' [value]='tipoViatura.id'>{{tipoViatura.codigo}}</option>
        </select>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Data de entrada em serviço</mat-label>
                    <input matInput [matDatepicker]="picker1" autocomplete="off" [(ngModel)]="dataInput" name="dataInput" placeholder="mm/dd/aaaa">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 color="primary"></mat-datepicker>
                </mat-form-field>
            </div>

            <button type="submit" (click)="submeter()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>