<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Viagem: Bloco de Trabalho</div>
    <div class="card-body">
        <h1 class="display-3">Criar Bloco de Trabalho</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-bloco-trabalho></app-dados-bloco-trabalho>
    </div>
</div>