<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idNo" id="basic-addon1"><b>Nó a atualizar</b></span>
                </div>
                <select name='selectNo' class="form-control" id="inputIdNoInicialSegmento" [(ngModel)]='idNo'>
        <option *ngFor='let no of listaNos' [value]='no.id'> {{no.nomeCompleto}}</option>
    </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="modelo" id="basic-addon1"><b>Modelo 3D</b></span>
                </div>
                <select name='selectModelo' class="form-control" id="inputIdNoInicialSegmento" [(ngModel)]='nomeModelo'>
            <option *ngFor='let modelo of listaModelos' [value]='modelo.nome'> {{modelo.nome}}</option>
        </select>
            </div>

            <!-- Botão de submit -->
            <button id='submitSegmento' type="submit" (click)="colocarNo()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>