<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="duracaoMaxima" id="basic-addon1"><b>Introduza a duração máxima</b></span>
                </div>
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [format]="24" [defaultTime]="'11:11'" name="timePicker" [(ngModel)]="duracao">
                    </ngx-timepicker-field>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="numeroMaximoBlocos" id="basic-addon1"><b>Número máximo de blocos a criar</b></span>
                </div>
                <input name="txtnumeroMaximoBlocos" type="text" [(ngModel)]="numeroMaximoBlocos" class="form-control" id="inputnumeroMaximoBlocos" placeholder="Introduza o número máximo de blocos">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="ServicoViaturaId" id="basic-addon1"><b>ID do Serviço de Viatura</b></span>
                </div>
                <select name='selectServicoViaturaId' class="form-control" id=" inputListaServicoViatura " aria-describedby="idHelp " [(ngModel)]='ServicoViaturaId'>
            <option *ngFor='let sv of listaAllServicosViatura' [value]='sv.id'>{{sv.id}}</option>
        </select>
            </div>

            <button type="submit " (click)="submeter() " class="mt-2 btn btn-outline-dark btn-sm ">Submit</button>
        </div>
    </div>
</form>