<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="linhaId" id="basic-addon1"><b>ID</b></span>
                </div>
                <input name="txtIdLinha" type="text" [(ngModel)]="idLinha" class="form-control" id="inLinhaId" aria-describedby="idHelp" placeholder="Se não introduzir um ID, será gerado um aleatório automaticamente">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="codigo" id="basic-addon1"><b>Código</b></span>
                </div>
                <input name="txtCodigo" type="text" [(ngModel)]="codigo" class="form-control" id="inCodigoLinha" placeholder="Introduza código">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="nome" id="basic-addon1"><b>Nome</b></span>
                </div>
                <input name="txtNome" type="text" [(ngModel)]="nome" class="form-control" id="inNomeLinha" placeholder="Introduza nome">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="cor" id="basic-addon1"><b>Cor</b></span>
                </div>
                <input name="txtCor" type="text" [(ngModel)]="cor" class="form-control" id="inCorLinha" placeholder="Introduza cor">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="noInicialId" id="basic-addon1"><b>ID Nó Inicial</b></span>
                </div>
                <select name='selectIdNoInicialLinha' class="form-control" id="inNoInicialIdLinha" [(ngModel)]='noInicialId'>
            <option *ngFor='let no of listaNos' [value]='no.id'> {{no.nomeCompleto}}</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="noFinalId" id="basic-addon1"><b>ID Nó Final</b></span>
                </div>
                <select name='selectIdNoFinalLinha' class="form-control" id="inNoFinalIdLinha" [(ngModel)]='noFinalId'>
            <option *ngFor='let no of listaNos' [value]='no.id'> {{no.nomeCompleto}}</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idTipoViaturaPermitido" id="basic-addon1"><b>Tipos de Viatura
                    Permitidos</b></span>
                </div>
                <select name='selectIdTVPermitidoLinha' class="form-control" id="inIdTVPermitido" [(ngModel)]='idTVPermitidoSelecionado'>
            <option *ngFor='let tv of listaTV' [value]='tv.id'> {{tv.codigo}}</option>
        </select>
            </div>

            <div class="form-row">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="addTipoViaturaPermitidaToArray()">Add Tipo
            Viatura</button>
                <button type="button" class="btn2 btn-outline-dark btn-sm" (click)="deleteTipoViaturaPermitidaOfArray()">Delete
            Tipo
            Viatura</button>
            </div>

            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let idTipoViaturaPermitido of viaturasPermitidas">
                        ID do Tipo de Viatura Permitido: {{idTipoViaturaPermitido}}
                    </li>
                </ul>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idTipoViaturaProibido" id="basic-addon1"><b>Tipos de Viatura Proibidos</b></span>
                </div>
                <select name='selectIdTVProibidolLinha' class="form-control" id="inIdTVProibido" [(ngModel)]='idTVProibidoSelecionado'>
            <option *ngFor='let tv of listaTV' [value]='tv.id'> {{tv.codigo}}</option>
        </select>
            </div>

            <div class="form-row">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="addTipoViaturaProibidaToArray()">Add Tipo
            Viatura</button>
                <button type="button" class="btn2 btn-outline-dark btn-sm" (click)="deleteTipoViaturaProibidaOfArray()">Delete
            Tipo
            Viatura</button>
            </div>

            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let idTipoViaturaProibido of viaturasProibidas">
                        ID do Tipo de Viatura Proibido: {{idTipoViaturaProibido}}
                    </li>
                </ul>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idTipoTripulantePermitido" id="basic-addon1"><b>Tipos de Tripulantes Permitidos</b></span>
                </div>
                <select name='selectIdTTPermitidoLinha' class="form-control" id="inIdTTPermitido" [(ngModel)]='idTTPermitidoSelecionado'>
            <option *ngFor='let tt of listaTT' [value]='tt.id'> {{tt.descricao}}</option>
        </select>
            </div>

            <div class="form-row">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="addTipoTripulantePermitidoToArray()">Add
            Tipo
            Tripulante</button>
                <button type="button" class="btn2 btn-outline-dark btn-sm" (click)="deleteTipoTripulantePermitidoOfArray()">Delete Tipo
            Tripulante</button>
            </div>

            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let idTipoTripulantePermitido of tripulantesPermitidos">
                        ID do Tipo de Tripulante Permitido: {{idTipoTripulantePermitido}}
                    </li>
                </ul>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idTipoTripulanteProibido" id="basic-addon1"><b>Tipos de Tripulantes Proibidos</b></span>
                </div>
                <select name='selectIdTTProibidoLinha' class="form-control" id="inIdTTProibido" [(ngModel)]='idTTProibidoSelecionado'>
            <option *ngFor='let tt of listaTT' [value]='tt.id'> {{tt.descricao}}</option>
        </select>
            </div>

            <div class="form-row">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="addTipoTripulanteProibidoToArray()">Add
            Tipo
            Tripulante</button>
                <button type="button" class="btn2 btn-outline-dark btn-sm" (click)="deleteTipoTripulanteProibidoOfArray()">Delete Tipo
            Tripulante</button>
            </div>

            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let idTipoTripulanteProibido of tripulantesProibidos">
                        ID do Tipo de Tripulante Proibido: {{idTipoTripulanteProibido}}
                    </li>
                </ul>
            </div>

            <button id='submitLinhaButton' type="submit" (click)="submeter()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>