<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Rede: Linha</div>
    <div class="card-body">
        <h1 class="display-3">Criar linha</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-linha></app-dados-linha>
    </div>
</div>