<div class="card bg-light mb-3">
    <div class="card-header">Planeamento: Tripulantes associados a blocos de trabalho</div>
    <div class="card-body">
        <h1 class="display-3">Obter os tripulantes associados a blocos de trabalho</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-tripulantes-blocos-trabalho-dados></app-tripulantes-blocos-trabalho-dados>
    </div>
</div>