<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Rede: Tipo de Tripulante</div>
    <div class="card-body">
        <h1 class="display-3">Criar tipo de tripulante</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-tipo-tripulante></app-dados-tipo-tripulante>
    </div>
</div>