<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Rede: Modelos 3D dos nós</div>
    <div class="card-body">
        <h1 class="display-4">Selecionar modelo para nó</h1>
        <p class="lead">Atualizar o modelo 3D de um nó</p>
        <form>
            <div class="row">
                <div class="col-8">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)">
                        <label class="custom-file-label" for="customFile" id="customFileLabel">Selecione um ficheiro zip</label>
                    </div>
                </div>
            </div>

            <!-- Botão de submit -->
            <button id='submitSegmento' type="submit" (click)="submeter()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </form>
    </div>
</div>