<div class="card bg-light mb-3">
    <div class="card-header">Planeamento: Atribuição de um modelo 3D a um nó</div>
    <div class="card-body">
        <h1 class="display-3">Atribuição de um modelo 3D a um nó</h1>
        <h4 class="text-muted">Introduza a informação necessária.
        </h4>
        <app-atribuir-modelos-no-dados></app-atribuir-modelos-no-dados>
    </div>
</div>