<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Rede: Segmento</div>
    <div class="card-body">
        <h1 class="display-3">Criar segmento</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-segmento></app-dados-segmento>
    </div>
</div>