<h1 mat-dialog-title>Dados:</h1>
<div mat-dialog-content>
    <pre>
ID: {{percursoId}}
Nome Percurso: {{percursoNomePercurso}}
ID Linha: {{percursoLinhaId}}
Orientação: {{percursoOrientacao}}
Lista de Segmentos: {{percursoListaSegmentos}}
ID Nó Inicial: {{percursoNoInicialId}}
ID Nó Final: {{percursoNoFinalId}}
Distância Total: {{percursoDistanciaTotal}}
Tempo Total: {{percursoTempoTotal}}
</pre>
</div>