<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idLinha" id="basic-addon1">ID da linha</span>
                </div>
                <select name='selectLinha' class="form-control" id="inputIdLinha" [(ngModel)]='idLinha'>
            <option *ngFor='let linha of listaLinhas' [value]='linha.id'>{{linha.nome}}</option>
        </select>
            </div>

            <button type="submit" (click)="getListaPercursosLinha()" class="mt-2 btn btn-outline-dark btn-sm">Obter
        lista</button>

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let percurso of listaPercursosLinha">
                    <button type="button" class="list-group-item list-group-item-action" [value]='percurso.id' (click)="openDialog(percurso.id)">{{percurso.nomePercurso}}</button>
                </li>
            </ul>
        </div>
    </div>
</form>