<div class="card bg-light mb-3">
    <div class="card-header">Listagem da viagem: serviços de viatura</div>
    <div class="card-body">
        <h1 class="display-3">Lista de serviços de viatura</h1>
        <h4 class="text-muted">Para mais informação, clique num serviço de viatura.</h4>
        <app-dados-servicos-viatura></app-dados-servicos-viatura>
    </div>
</div>