<div class="card bg-light mb-3">
    <div class="card-header">Criar membros da Viagem: Várias Viagens</div>
    <div class="card-body">
        <h1 class="display-3">Criar várias viagens</h1>
        <h4 class="text-muted">Introduza a informação necessária.</h4>
        <app-dados-varias-viagens></app-dados-varias-viagens>
    </div>
</div>