<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="tipoTripulanteId" id="basic-addon1"><b>ID</b></span>
                </div>
                <input name="txtIdTipoTripulante" type="text" [(ngModel)]="idTipoTripulante" class="form-control" id="inputIdTT" aria-describedby="idHelp" placeholder="Se não introduzir um ID, será gerado um aleatório automaticamente">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="codigo" id="basic-addon1"><b>Código</b></span>
                </div>
                <input name="txtCodigo" type="text" [(ngModel)]="codigo" class="form-control" id="inputCodigoTT" aria-describedby="codigoHelp" placeholder="Deve ter 20 caracteres">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="descricao" id="basic-addon1"><b>Descrição</b></span>
                </div>
                <input name="txtDescricao" type="text" [(ngModel)]="descricao" class="form-control" id="inputDescricaoTT" placeholder="Introduza descrição">
            </div>

            <button id='submitTTButton' type="submit" (click)="submeter()" class="btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>