<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="servicoViaturaId" id="basic-addon1"><b>ID do Serviço Viatura</b></span>
                </div>
                <input name="txtservicoViaturaId" type="text" [(ngModel)]="servicoViaturaId" class="form-control" id="inputservicoViaturaId" aria-describedby="idHelp" placeholder="Deve ter 10 caracteres">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="idViagem" id="basic-addon1"><b>Lista de Viagens</b></span>
                </div>
                <select name='selectIdViagem' class="form-control" id="inIdViagem" [(ngModel)]='idViagem'>
            <option *ngFor='let viagem of listaAllViagens' [value]='viagem.viagemId'> {{viagem.viagemId}}</option>
        </select>
            </div>

            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let idViagem of listaViagensId">
                        ID da viagem: {{idViagem}}
                    </li>
                </ul>
            </div>

            <div class="input-group mb-3">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="addElementToArray()">Add Viagem</button>
                <button type="button" class="btn2 btn-outline-dark btn-sm" (click)="deleteElementOfArray()">Delete
            Viagem</button>
            </div>

            <button type="submit" (click)="submeter()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>