<div class="example-container">

    <mat-card-title><p>Bem vindo à sua aplicação de transportes!</p></mat-card-title>
    <h3>Login</h3>

    <mat-form-field>
        <mat-label>Introduza o seu email</mat-label>
        <input id='emailInput' matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" type="text" [(ngModel)]="email" name="username">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Porfavor introduza um email válido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email é <strong>necessário</strong>
          </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Introduza a sua password</mat-label>
        <input id='pwInput' matInput placeholder="Password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" type="password" [(ngModel)]="password" name="password">
        <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
            Porfavor introduza uma password com no mínimo 6 dígitos
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')">
            Porfavor introduza uma password com no máximo 15 dígitos
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password é <strong>necessária</strong>
          </mat-error>
    </mat-form-field>

    <div class="form-row">
        <div>
            <button id='loginButton' type="submit" (click)="login()" class="mt-2 btn btn-outline-dark btn-sm">Login</button>
        </div>
        <div *ngIf="loading" class="spinner-border text-dark" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    <button type="submit" (click)="registo()" class="mt-2 btn btn-outline-dark btn-sm">Ainda não tem conta? Registe-se aqui</button>
    
</div>


