<div class="card bg-light mb-3">
    <div class="card-header">Listagem da rede: nós</div>
    <div class="card-body">
        <h1 class="display-3">Lista de nós</h1>
        <h4 class="text-muted">Para mais informação, clique num nó.</h4>
        <app-dados-nos></app-dados-nos>
    </div>
</div>