<div class="jumbotronHeader" id="up">
      
    <div class="container">
        <h1 id="appTitle" class="display-4">Bem-vindo!</h1>

        <p class="lead">O melhor sistema de gestão de transportes</p>
        <hr class="my-4">
        <div *ngIf="userInfo.isCliente" class="alert alert-warning" role="alert">
           Utilizador inválido para aceder a funções como <b>master data rede</b>, <b>master data viagem</b> ou <b>planeameno</b> por favor dê login como outro utilizador para tal.
        </div>
        <div *ngIf="userInfo.isAdministrador" class="alert alert-warning" role="alert">
            Utilizador inválido para aceder a funções como <b>planeamento</b> por favor dê login como outro utilizador para tal.
         </div>
         <div *ngIf="userInfo.isGestor" class="alert alert-warning" role="alert">
            Utilizador inválido para aceder a funções como <b>master data rede</b>, <b>master data viagem</b> ou <b>mapa</b> por favor dê login como outro utilizador para tal.
         </div>
        <button id="btnMDR" type='button' class="btn btn-dark btn-lg" routerLink='/mdr' role="button">Master Data Rede</button>
        <button id="btnMapa" class="btn btn-dark btn-lg" routerLink='/mapa' role="button">Mapa</button>
        <button id="btnMDV" type='button' class='btn btn-dark btn-lg' routerLink='/mdv' role="button">Master Data Viagem</button>
        <button id="btnPlaneamento" type='button' class="btn btn-dark btn-lg" routerLink='/planeamento' role="button">Planeamento</button>
    </div>
</div>
