<form>
    <div class="row">
        <div class="col-8">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let sv of listaServicosViatura">
                    <button type="button" class="list-group-item list-group-item-action" [value]='sv.id' (click)="openDialog(sv.id)">{{sv.id}}</button>
                </li>
            </ul>
        </div>
    </div>
</form>