<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="viagemId" id="basic-addon1"><b>ID da viagem</b></span>
                </div>
                <input name="txtViagemId" type="text" [(ngModel)]="viagemId" class="form-control" id="inputViagemId" aria-describedby="idHelp" placeholder="Se não introduzir um ID, será gerado um aleatório automaticamente">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="linhaId" id="basic-addon1"><b>ID da linha</b></span>
                </div>
                <select name='selectLinhaId' class="form-control" id="inputListaLinhas" aria-describedby="idHelp" [(ngModel)]='linhaIdSelecionado' (change)=mostrarPercursos()>
            <option *ngFor='let linha of listaAllLinhas' [value]='linha.id'>{{linha.nome}}</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="percursoId" id="basic-addon1"><b>ID do percurso</b></span>
                </div>
                <select name='selectPercursoId' class="form-control" id="inputListaPercursos" aria-describedby="idHelp" [(ngModel)]='percursoIdSelecionado'>
            <option *ngFor='let percurso of listaAllPercursos' [value]='percurso.id'>{{percurso.nomePercurso}}</option>
        </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="horaInicio" id="basic-addon1"><b>Hora de início</b></span>
                </div>
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field id='timepickerV' [format]="24" [defaultTime]="'11:11'" name="timePicker" [(ngModel)]="time">
                    </ngx-timepicker-field>
                </div>
            </div>

            <button id='submitViagem' type="submit " (click)="submeter() " class="mt-2 btn btn-outline-dark btn-sm ">Submit</button>
        </div>
    </div>
</form>