<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button *ngIf="userInfo && userInfo.isCliente" routerLink="/alteracaoDados" type="submit" class="mt-2 btn btn-outline-dark btn-sm">Alteração dados</button>
    <button *ngIf="userInfo && userInfo.isCliente" routerLink="/listarDados" type="submit" class="mt-2 btn btn-outline-dark btn-sm">Consulta dados</button>
    <button *ngIf="userInfo && userInfo.isCliente" routerLink="/mapa" type="submit" class="mt-2 btn btn-outline-dark btn-sm">Mapa</button>
    <button *ngIf="userInfo && userInfo.isAdministrador" routerLink="/mdr" type="submit" class="mt-2 btn btn-outline-dark btn-sm">Rede</button>
    <button *ngIf="userInfo && userInfo.isAdministrador" routerLink="/mdv" type="submit" class="mt-2 btn btn-outline-dark btn-sm">Viagem</button>
    <button *ngIf="userInfo && userInfo.isGestor" routerLink="/planeamento" type="submit" class="mt-2 btn btn-outline-dark btn-sm">Planeamento</button>
    <button *ngIf="userInfo" routerLink="/header" type="submit" class="mt-2 btn btn-outline-dark btn-sm">Menu</button>
    <button *ngIf="!userInfo" routerLink="/login" type="submit" class="mt-2 btn btn-outline-dark btn-sm">Login</button>
    <button *ngIf="userInfo" routerLink="/login" type="submit" class="mt-2 btn btn-outline-dark btn-sm">Logout</button>
</nav>

<router-outlet></router-outlet>