<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="noId" id="basic-addon1"><b>ID</b></span>
                </div>
                <input name="txtIdNo" type="text" [(ngModel)]="idNo" class="form-control" id="inputNoId" aria-describedby="idHelp" placeholder="Se não introduzir um ID, será gerado um aleatório automaticamente">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="nomeCompleto" id="basic-addon1"><b>Nome completo</b></span>
                </div>
                <input name="txtNomeCompleto" type="text" [(ngModel)]="nomeCompleto" class="form-control" id="inputNomeCompleto" placeholder="Introduza nome completo">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="abreviatura" id="basic-addon1"><b>Abreviatura</b></span>
                </div>
                <input name="txtAbreviatura" type="text" [(ngModel)]="abreviatura" class="form-control" id="inputAbreviatura" placeholder="Introduza abreviatura">
            </div>

            <div class="form-group form-check">
                <mat-slide-toggle id="pontoRendicaoCheck" color="primary" [(ngModel)]="isPontoRendicao" name="isPontoRendicaoCheck"><b>Ponto de rendição</b></mat-slide-toggle>
            </div>

            <div class="form-group form-check">
                <mat-slide-toggle id="estacaoRecolhaCheck" color="primary" [(ngModel)]="isEstacaoRecolha" name="isEstacaoRecolhaCheck"><b>Estação de recolha</b></mat-slide-toggle>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="latitude" id="basic-addon1"><b>Latitude</b></span>
                </div>
                <input name="txtLatitude" type="number" [(ngModel)]="latitude" class="form-control" id="inputLatitude" placeholder="Introduza latitude">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="longitude" id="basic-addon1"><b>Longitude</b></span>
                </div>
                <input name="txtLongitude" type="number" [(ngModel)]="longitude" class="form-control" id="inputLongitude" placeholder="Introduza longitude">
            </div>

            <button type="submit" (click)="submeter()" class="mt-2 btn btn-outline-dark btn-sm">Submit</button>
        </div>
    </div>
</form>