<h2 mat-dialog-title>Informação legal sobre os dados pessoais</h2>
<div mat-dialog-content class="mat-typography">
    <h3>Estes dados servem apenas como meio de autenticação do cliente e destinam-se exclusivamente ao domínio dos serviços da plataforma. Em mais detalhe:</h3>
    <h4>Email</h4>
    <p>O e-mail serve para identificação do cliente, pois é um dado que o distingue dos outros clientes registados.</p>
    <h4>Nome</h4>
    <p>O nome é apenas um dado informativo para identificar o cliente depois do seu login. </p>
    <h4>Data de nascimento</h4>
    <p>A data de nascimento é importante para que consigamos validar a idade do cliente final. Em Portugal, definiu-se os 13 anos como idade mínima para o consentimento requerida pelo RGPD, a partir da qual é possível uma pessoa dar o seu consentimento livre,
        específico, informado e explícito para tratamento de dados pessoais.</p>
    <h4>Alteração/remoção dos dados</h4>
    <p>A qualquer altura, o cliente pode remover o seu consentimento do tratamento dos seus dados, o que resultará na remoção dos mesmos (Direito ao Consentimento e Esquecimento). Poderá também listar e alterar qualquer informação, sempre que necessário.</p>
    <h4>Prazo de conservação</h4>
    <p>De acordo com o Regulamento Geral sobre a Proteção de Dados, existem requisitos legais acerca do prazo de conservação dos dados, os quais obrigam a sua conservação durante o mínimo tempo possível, exceto algumas ocasiões devidamente regulamentadas.</p>
    <h4>Responsável pelo tratamento dos dados</h4>
    <p>O responsável pelo tratamento dos dados é a empresa Autoridade Intermunicipal de Transportes (AIT).</p>
</div>