<div class="example-container">
    <mat-card-title>
        <p>Registe-se aqui! Por favor, preencha todos os dados:</p>
    </mat-card-title>
    <mat-form-field>
        <mat-label>Introduza o seu nome</mat-label>
        <input matInput placeholder="Nome" [formControl]="nameFormControl" [errorStateMatcher]="matcher" type="text" [(ngModel)]="name" name="name">
        <mat-error *ngIf="nameFormControl.hasError('required')">
            Nome é <strong>necessário.</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Introduza o seu email</mat-label>
        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" type="text" [(ngModel)]="email" name="email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Por favor introduza um email válido.
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email é <strong>necessário.</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Introduza a password</mat-label>
        <input matInput placeholder="Password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" type="password" [(ngModel)]="password" name="password">
        <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
            Por favor introduza uma password com no mínimo 6 dígitos.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')">
            Por favor introduza uma password com no máximo 15 dígitos.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password é <strong>necessária.</strong>
        </mat-error>
    </mat-form-field>

    <div>
        <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker]="picker1" autocomplete="off" [(ngModel)]="dataInput" name="dataInput" placeholder="mm/dd/aaaa">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 color="primary"></mat-datepicker>
            <mat-error *ngIf="dataFormControl.hasError('required')">
                Data de nascimento é <strong>necessária.</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <form class="was-validated">
        <div class="form-row">
            <div class="custom-control custom-checkbox mb-3">
                <input name="checkBoxRGPD" type="checkbox" [(ngModel)]="checkBoxRGPD" class="custom-control-input" id="checkBoxRGPD" required>
                <label class="custom-control-label" for="checkBoxRGPD">Eu, como cliente final, dou o meu consentimento
                    explícito
                    para o tratamento dos
                    meus dados pessoais introduzidos. Clique abaixo para mais informação.</label>
                <div class="invalid-feedback">Obrigatório.</div>
            </div>
        </div>
    </form>

    <button type="button" class="btn btn-info btn-sm" (click)="openDialog()">Informação legal sobre os dados pessoais</button>

    <button type="submit" (click)="registo()" class="mt-2 btn btn-outline-dark btn-sm">Registar</button>
    <button type="submit" (click)="cancelar()" class="mt-2 btn btn-outline-dark btn-sm">Cancelar</button>

</div>