<div class="card bg-light mb-3">
    <div class="card-header">Listagem da rede: linhas</div>
    <div class="card-body">
        <h1 class="display-3">Lista de linhas</h1>
        <h4 class="text-muted">Para mais informação, clique numa linha.</h4>
        <app-dados-linhas></app-dados-linhas>
    </div>
</div>